@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400;1,500&family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #121212;
    font-family: 'Montserrat', sans-serif;
}

.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 210px;
    background-color: #000000;
    padding: 24px;
}

.sidebar .logo img {
    width: 130px;
}

.sidebar .navigation ul {
    list-style: none;
    margin-top: 2rem;
}

.sidebar .navigation ul li {
    padding: 1rem 0.4rem;
}

.sidebar .navigation ul li a {
    color: #b3b3b3;
    text-decoration: none;
    font-weight: 500;
    font-size: 1.2rem;
}

.sidebar .navigation ul li .fa {
    font-size: 20px;
    margin-right: 10px;
}

.sidebar .navigation ul li a:hover {
    color: #ffffff;
}

.sidebar .policies {
    position: absolute;
    bottom: 2rem;
    /* font-size: 3rem; */
}

.sidebar .policies ul {
    list-style: none;
}

.sidebar .policies ul li {
    padding-bottom: 5px;
}

.sidebar .policies ul li a {
    color: #b3b3b3;
    font-weight: 500;
    text-decoration: none;
    font-size: 1rem;
}

.sidebar .policies ul li a:hover {
    text-decoration: underline;
}

.main-container {
    margin-left: 260px;
    margin-bottom: 10px;
}

.topbar {
    display: flex;
    /* align-items: center;
    justify-content: center; */
    align-items: center;
    justify-content: space-between;
    /* gap: 20rem; */
    background-color: #000;
    padding: 1.4rem; 
    margin-left: 260px;
    margin-bottom: 10px; 
}

.topbar .prev-next-buttons button {
    color: #7a7a7a;
    cursor: pointer;
    width: 34px;
    height: 34px;
    border-radius: 100%;
    font-size: 18px;
    border: 0px;
    background-color: #090909;
    margin-right: 10px;
}
.nav-items{
    display: flex;
    gap: 1rem;
}
.topbar .navbar {
    display: flex;
    align-items: center;
}
.spotify-input{
    background-color: rgb(30, 29, 29);
    height: 1.6rem;
    width: 30rem;
    padding: 0.8rem 1.1rem;
    border-radius: 3rem;
    font-size: medium;
    /* border-color: white; */
    border:1px solid transparent;
    outline:none ;
    caret-color: white;
    color: white;
    /* margin-left: 1rem; */
}

.spotify-input:hover{
    border: solid rgb(162, 162, 162);
    transition: cubic-bezier(0.19, 1, 0.22, 1);
}
.spotify-input-active{
    border: 2px solid white;
}
.spotify-input-active:hover{
    border: 2px solid white;
}
.topbar .navbar ul {
    list-style: none;
}

.topbar .navbar ul li {
    display: inline-block;
    margin: 0px 8px;
    width: 70px;
}

.topbar .navbar ul li a {
    color: #b3b3b3;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 1px;
}

.topbar .navbar ul li a:hover {
    color: #ffffff;
    font-size: 15px;
}

.topbar .navbar button {
    background-color: #ffffff;
    color: #000000;
    font-size: 16px;
    font-weight: bold;
    padding: 14px 30px;
    border: 0px;
    border-radius: 40px;
    cursor: pointer;
    margin-left: 20px;
}

.topbar .navbar button:hover {
    background-color: #f2f2f2;
}

.spotify-playlists {
    padding: 20px 40px;
}

.spotify-playlists h2 {
    color: #ffffff;
    font-size: 22px;
    margin-bottom: 20px;
}

.spotify-playlists .list {
    display: flex;
    gap: 20px;
    /* overflow: hidden; */

    overflow-x: scroll;
}

.spotify-playlists .list .item {
    min-width: 220px;
    width: 160px;
    padding: 15px;
    background-color: #181818;
    border-radius: 6px;
    cursor: pointer;
    transition: all ease 0.4s;
}

.spotify-playlists .list .item:hover {
    background-color: #252525;
}



.spotify-playlists .list .item img {
    width: 100%;
    border-radius: 6px;
    margin-bottom: 10px;
}

.spotify-playlists .list .item .play {
    position: relative;
}

.spotify-playlists .list .item .play .fa {
    position: absolute;
    right: 10px;
    top: -60px;
    padding: 18px;
    background-color: #1db954;
    border-radius: 100%;
    opacity: 0;
    transition: all ease 0.4s;
}

.spotify-playlists .list .item:hover .play .fa {
    opacity: 1;
    transform: translateY(-20px);
}

.spotify-playlists .list .item h4 {
    color: #ffffff;
    font-size: 14px;
    margin-bottom: 10px;
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.spotify-playlists .list .item p {
    color: #989898;
    font-size: 12px;
    line-height: 20px;
    font-weight: 500;
}

.spotify-playlists hr {
    margin: 70px 0px 0px;
    border-color: #636363;
}

.preview {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to right, #ae2896, #509bf5);
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
}

.preview h6 {
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 12px;
    margin-bottom: 10px;
}

.preview p {
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
}

.preview button {
    background-color: #ffffff;
    color: #000000;
    font-size: 16px;
    font-weight: bold;
    padding: 14px 30px;
    border: 0px;
    border-radius: 40px;
    cursor: pointer;
}

.audio-src{
    /* background-color: #000; */
    height: 2.4rem;
    width: 100%;
    margin-top:0.5rem ;
    padding: 1rem;
    margin-left:-1rem ;
}
.search-btn{

 position: relative; 
    left: -2.4rem;
    top: 0.2rem;
    cursor: pointer;
    height: 1rem;
    width: 1rem;
    background: transparent;
    outline: none;
    border: none;
}